.courses {
  padding: 100px 20px;
  background: white;
}

.courses-title {
  text-align: center;
  margin-bottom: 50px;
}

.course-grid {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 24px;
}

.course-card {
  background: #f1f5f9;
  padding: 25px;
  border-radius: 16px;
  transition: .3s;
}

.course-card:hover {
  transform: translateY(-5px);
}

@media(max-width:992px){
  .course-grid{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width:768px){
  .course-grid{
    grid-template-columns: 1fr;
  }
}